manifest {
    name            = 'AMR_trinity_test'
    author          = 'Seqafrica'
    homePage        = 'https://github.com/Osadio95/AMR_trinity_test'
    description     = 'AMR detection using AMRFinderPlus, ResFinder and RGI with harmonization'
    mainScript      = 'main.nf'
    nextflowVersion = '>=20.10.0'
    version         = '1.0.11'
}

params {
    // Options par défaut
    input    = ''
    outdir   = './results'
    threads  = 4
}

process {
    withName: 'summarise' {
        container = 'ghcr.io/zwets/hamronization:1.1.10'
        containerOptions = '--entrypoint ""'
    }
    withName: 'hamronize' {
        container = 'ghcr.io/zwets/hamronization:1.1.10'
        containerOptions = '--entrypoint ""'
    }
    withName: 'amrfinderplus' {
        container = 'docker.io/ncbi/amr:4.0.23-2025-07-16.1'
    }
    withName: 'resfinder' {
        container = 'docker.io/genomicepidemiology/resfinder:4.7.2'
        containerOptions = '--entrypoint ""'
    }
    withName: 'rgi' {
        container = 'quay.io/biocontainers/rgi:6.0.5--pyh05cac1d_0'
    }
}

profiles {
    docker {
        docker.enabled = true
    }
    standard {
        // Profile par défaut pour EPI2ME
    }
}

// SUPPRIMEZ COMPLÈTEMENT la section "report" qui contient params.out_dir
// À la place, ajoutez ceci :

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/dag.svg"
}
